  body {
        background-image: url("./Jumbo.jpg");
        background-repeat: no-repeat, repeat;
        background-color: #cccccc;
        background-size: cover;
        z-index: 1;
        margin: 0;
    }
          #link{
             word-wrap: break-word;
             width: 70%;
          }


             .aa {
         width:30%; 
         height:30%;

      }
                .flexi {
        width:277px;
        height: 300px;
        display: inline-block; 
      /*  margin-left: 60px;
        margin-top: 20px;*/
       /* border-style: solid;
        border-width: 1px;
        border-color: #734547;*/
        background-image: url("./paper.jpg");
        background-repeat: no-repeat, repeat;
         background-size: cover;
          font-size: 12px;
         font-weight: bold;
          cursor: pointer; 
          opacity: 0.7;
        
    }
              .form-inline {
        position: center;
     }
            #working  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        opacity: 0.5;
     }
        h3,h1 {
        text-align: center;
      
     }
     p {
        text-align: center;
       
     }
     #imm {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
        margin-top: auto;
     }
      #msg,#msg1 {
        width:400px;
        margin-left: 70px;
     }  
       #main {
        margin-bottom: 40px;
       }
       .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #734547;
    color: white;
    text-align: center;
  
}
    .header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
   #logo {
    
    display: block;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: 0.3;
     

   }
        .page {
            /*Ovo obezbedjuje da su deca page-a iste visine*/
            display: flex;
        }

        .flex-container {
          float: left;
          width: 70%;
                     
             display: flex;
        }

        .details {
            float: left;
            width: 30%;
          
            background-image: url("./paper1.jpg");
        background-repeat: no-repeat, repeat;
         background-size: cover;
        }
         .scroll {
        position: sticky;
        top: 100px;
        height: 300px;
     /*   margin-left: 50px;*/
       /* margin-top: 120px;*/
        font-size: 16px;
         font-weight: bold;
         margin-right: 10px;
  
  overflow: hidden;
  
  word-break: break-all;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
         }
       /*  .flex-container > div {
            display: inline-block;
         }*/
     